<h1 class="mt-4">Dashboard <a href="/users/logout" class="btn btn-secondary">Logout</a></h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<span>Member since <%= user.date.toLocaleString() %></span>

<div class="row">
  <% posts.forEach((post) => { %>
    <div class="card mx-2 my-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.description %> </p>
        <span href="#" class="card-link"><%= post.date.toLocaleString() %></span>
				<form action="/dashboard/<%= post.id %>?_method=DELETE" method="POST">
					<input type="hidden" value="<%= post.id %>" name="id">
					<button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
      </div>
    </div>
  <% }); %>

	<form action="/dashboard" method="POST">
		<div class="card mx-2 my-2" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">
					<div class="form-group">
						<input type="text" name="title" class="form-control" placeholder="Title">
					</div>
				</h5>
				<p class="card-text">
					<div class="form-group">
						<textarea class="form-control" name="description" placeholder="Description"></textarea>
					</div>				
				</p>
			</div>				
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
  </form>
</div>
